.bg-black {
    background-color: black;
}

.texto-menor {
    font-size: 0.8rem;
}

.btn-lilas {
    color: #fff;
    background-color: #9353FF;
    border-color: #9353FF;
}

.divs-facilidades,
.div-novidades {
    width: 325px;
}



.verde-limao {
    color: #DAFF01;
}

@media screen and (min-width: 768px) {
    .div-novidades {
    width: 655px;
}
}